#root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  padding: 0;
  font-family: sans-serif;
}

.game-container {
  height: 400px;
  text-align: center;
}

.countdown {
  font-size: 150px;
}

.button-container {
  margin-top: 20px;
}

.new-game {
  margin-right: 5px;
}

.hint-button {
  margin-left: 5px;
}

@keyframes fade {
  from {
    color: hsla(222, 61%, 55%, 0.3);
  }
  to {
    color: hsla(222, 61%, 55%, 1);
  }
}

.hint {
  animation-duration: 2s;
  animation-name: fade;
  animation-iteration-count: 1;
  animation-direction: alternate;
}


input {
  font-size: 28px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 30px;
}

.incorrect-container {
  padding: 20px;
}

.incorrect {
  color: red;
  font-size: 1.3em;
  padding: 10px;
  text-transform: uppercase;
}

.word-container {
  padding: 10px;
}

.correct {
  font-size: 2em;
  padding: 5px;
  text-transform: uppercase;
}

.missing {
  color: red;
}
